# Node modules
node_modules/

# Svelte files
**/.svelte-kit/

# Logs
logs/
*.log

# Environment files
.env
.env.prod
.env.local

# Build outputs
dist/
build/
.vercel/

# System/IDE files
.DS_Store
.vscode/
.idea/

# Temp files
*.tmp
*.temp

# Doc files
DOC/

# Swagger output
swagger-output.json

# Lock json
package-lock.json