# Node modules
node_modules/

# Svelte files
client/.svelte-kit/

# Logs
logs/
*.log

# Environment files
.env
.env.*

# Build outputs
dist/
build/

# System/IDE files
.DS_Store
.vscode/
.idea/

# Temp files
*.tmp
*.temp
